<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="img/favicon.png">
        
        <title>Natours | Exciting tours for adventurous people</title>
    </head>
    <body>
        
        <header class="header">
            <div class="header__logo-box">
                <img src="../assets/images/logo-white.png" alt="logo" class="header__logo">
            </div>
            <div class="header__text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary--main">Outdoors</span>
                    <span class="heading-primary--sub">is where life happens</span>
                </h1>

                <a href="#" class="btn btn--white btn--animated">Discover our tours</a>
            </div>
        </header>

        <main>
            <section class="section-about">
                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary">
                        Exciting tours for adventurous people
                    </h2>
                </div>

                <div class="section-about-content">
                    <div class="section-about-content__text">
                        <h3 class="heading-tertiary u-margin-bottom-small">You're going to fall in love with nature</h3>
                        <p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore sapiente voluptatum, amet illo aliquam alias a rem quam eius eligendi quia iste corrupti dolor atque eaque enim. Nostrum, itaque praesentium?</p>
                        <h3 class="heading-tertiary u-margin-bottom-small">Live adventures like you never have before</h3>
                        <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam unde labore laboriosam, ut repellendus deserunt veritatis quo, ipsam voluptatum odio?</p>

                        <a href="#" class="btn-text">Learn more &rarr;</a>
                    </div>
                    <div class="section-about-content__image">
                        <div class="composition">
                            <img src="/assets/images/nat-1-large.jpg" alt="photo 1" class="composition__photo composition__photo--p1">
                            <img src="/assets/images/nat-2-large.jpg" alt="photo 2" class="composition__photo composition__photo--p2">
                            <img src="/assets/images/nat-3-large.jpg" alt="photo 3" class="composition__photo composition__photo--p3">
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-features">
                <div class="feature-box">
                    <img class="feature-box__icon" src="assets/linea/basic_world.svg" alt="">
                    <h3 class="heading-tertiary">Explore the world</h3>
                    <p class="feature-box__text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
                <div class="feature-box">
                    <img class="feature-box__icon" src="assets/linea/basic_compass.svg" alt="">
                    <h3 class="heading-tertiary">Meet nature</h3>
                    <p class="feature-box__text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
                <div class="feature-box">
                    <img class="feature-box__icon" src="assets/linea/basic_map.svg" alt="">
                    <h3 class="heading-tertiary">Find your way</h3>
                    <p class="feature-box__text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
                <div class="feature-box">
                    <img class="feature-box__icon" src="assets/linea/basic_heart.svg" alt="">
                    <h3 class="heading-tertiary">Live a healthy life</h3>
                    <p class="feature-box__text">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </p>
                </div>
            </section>

        </main>
    </body>
</html>
